/* google font */
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.main-containe-width {
    width: 70%;
    /* max-width: 1400px; */
    margin: 0 auto;
}

.main-back-color {
    background-color: lab(84.34% 6.64 19.59);
}
.nav-menu-icon{
    display: none;
}

.navber {
    justify-content: space-between;
    padding: 20px 0;
}

.brand {
    font-weight: 700;
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

ul>li>a {
    text-decoration: none;
    font-weight: 500;
}

/* banner section kaj korbo akhon */

.btn-color-pri {
    background-color: #FF900E;
    color: aliceblue;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
border-radius: 8px;
}

.banner-content {
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;

    background: linear-gradient(to left, rgb(201, 41, 140), rgb(61, 160, 213));
    background-clip: text;
    color: transparent;
}
.banner-diskison{
    font-size: 1rem;
    font-weight: 400;
}
.btn-primary {
    margin-bottom: 50px;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
}
.banner-img{
    width: 100%;
}

/* responsive media query */

@media screen and  (max-width:576px){
    .nav-menu-icon{
        display: block;
        font-size: 20px;
        color: rgb(2, 38, 70);
    }
    .nav-menu{
        display: none;
    }
    .navber .main-containe-width{
        width: 100%;
    }
}

/* ...... */
main{
    max-width: 1240px;
    margin: 0 auto;
}
.temas{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 0 130px 0;
}
.team-img-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
}
.feature-tatle{
    font-size: 3rem;
}
.color-first{
    color: #FF900E;
}
.feature-div{
    font-size: 1rem;
    line-height: 20px;
    padding: 8px 0;
    color: #727272;
}
.padding-div{
    margin-top: 20px;
}
.guick{
   color: #727272; 
}
.bold-of{
    font-weight: 900;
}
@media screen and  (max-width:576px){
    .temas{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .you-fircuage{
        margin-left: 15px;
    }
}
@media screen and (min-width:576px)  and (max-width:992px){

}

/* third section */


.some{
    font-size: 3rem;
    font-weight: 700;
}
.width-p{
   max-width: 542px;
   padding: 5px 0 20px 0;
   color: #727272;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact{
    border: 1px solid #97390d;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0 10px 0;
}
.port-col{
    font-size: 1.2rem;
    color: #727272;
    margin-top: 10px;
}
@media screen and  (max-width:576px){
    .facts-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;  
    gap: 30px; 
}
.card-container{
    margin: 0 auto;
}
.card-container{
    text-align: center;
}

}